body{
    height: 2000px;
}

.top{
    background-image: url("../imgs/motcha_top.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    float: left;
}

.logo{
    width: 130px;
    height: 180px;
    background-image: url("../imgs/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left:50%;
    transform:translateX(-50%);
    background-position: center;
    z-index: 5;
}

.logo_center{
    opacity: 0.8;
    width: 380px;
    z-index: 5;
    position: absolute;
    top: calc(50% + 80px);
    left:50%;
    transform:translate(-50%,-50%);
    animation: fadin 3s 1;
}

.logo_gh{
    width: 10px;
    height: 30px;
    background-color: green;
    display: inline-block;
}

.navbar{
    margin-bottom: 50px;
    /* float: left;
    display: none; */
}

.space{
    float: left;
    width: 870px;
    height: 1px;
}

a{
    font-size: 24px;
    font-family: 微軟正黑體;
    font-weight: bold;
    color: rgb(125, 190, 21);
    /* letter-spacing: 10px; */
}

.bg-light {
    background-color: #f8f9fa2c!important;
}

.newMessage{
    width: 600px;
    height: 200px;
    background-image: url("../imgs/Information.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.l4_margin{
    margin-left:100px;
}

.color{
    background-color: rgb(131, 22, 221);
    height: 200px;
}

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  /* opacity: .5; */
}
.hr-text:before {
  content: '';
  background: -webkit-linear-gradient(left, transparent, #818078, transparent);
  background: linear-gradient(to right, transparent, #c9b415, transparent);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}
.hr-text:after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  color: black;
  padding: 0 .5em;
  line-height: 1.5em;
  background-color: #fcfcfa;
}

.bg{
    width: 100%;
    height: 100vh;/* 待修改 修改成全螢幕 calc(100vh - 188px)*/
    background-size: cover;
    background-position: center;
    z-index: 1;
}
.img0{
    background-image: url("../imgs/000.jpg");
}
.img1{
    background-image: url("../imgs/000.jpg");
}
.img2{
    background-image: url("../imgs/000.jpg");
}
 .img3{
    background-image: url("../imgs/000.jpg");
}

.unslider-arrow{
    top:50%;
    color:rgb(247, 247, 247);
    /* 箭頭class屬性 */
}

.unslider-arrow.prev{
    top:50%;
    opacity: 0.1;
}

.unslider-arrow.prev:hover {
    opacity: 1;
    transition-duration: 1s;
}

.unslider-arrow.next{
    top:50%;
    opacity: 0.1;
}

.unslider-arrow.next:hover {
    opacity: 1;
    transition-duration: 1s;
}

.unslider{
    position: relative;

}
/* banner最外面那層 */
.unslider-nav{
    position: absolute;
    bottom:10px;
    left:50%;
    display: none;
/* 下面圈圈那層 */
}

.about_us{
    /* position: relative; */
    background-image: url("../imgs/bg-black.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.note{
    /* position: absolute;
    top: calc(50% - 333px);
    left:calc(50% - 391px);
    transform:translate(-50%,-50%); */
    width: 60%;
    height: auto;
}

#draggable { 
    cursor:move;
    width: 1px;
    height: 1px;
    /* padding: 1em; */
    background-color: rgb(125, 218, 125);
    /* text-align:center; */
    z-index: 50;
  }
.dra_img{
    width: 150px;
}
#clickAction{
    border-radius:3px;
    cursor:pointer;
    padding:195px;
}
#clickAction.blue{
    background:blue;
}

  .change_top{
      background-image: url("../imgs/motcha_top101.jpg");
  }

  .img {
            width: 15rem;
            float: left;
        }

@keyframes fadin{
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 0.8;
    }
}

/* 1180平板板 */
@media Screen and (max-width: 1180px)
{
    
    .l4_margin{
    margin-left:0;
    }
}
/* 960手機板 */
@media Screen and (max-width: 960px)
{
    .top{
    background-image: url("../imgs/motcha_top_mobile.jpg");
    }
    .logo{
        display: none;
    }
    .logo_center{
    width: 380px;
    position: absolute;
    top:100px;
    left:50%;
    transform:translateX(-50%);
}
    .l4_margin{
    margin-left:0;
    }
    .my-slider{
        /* display: none; */
    }
}

